<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login for "<%= campaign.name %></title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white shadow-md md:rounded-lg max-md:w-full py-8 p-8 max-w-full">
        <h1 class="text-2xl font-bold text-gray-800 mb-6">Login for "<%= campaign.name %></h1>
        <form action="/manage/<%= campaign.id %>/" method="POST">

            <div class="mb-6">
                <input type="password" name="password" required placeholder="Password"
                    class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500 <% if (wrongPassword) { %> border-red-600 <% } %>">
                <% if (wrongPassword) { %> <span class="text-red-600 font-light pl-1">Wrong password</span> <% } %>
            </div>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded mb-4 inline-block hover:bg-blue-600 transition duration-200">Submit</button>

        </form>
    </div>
</body>

</html>